<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Version</string>
	<key>BIOFullSDKVersion</key>
	<string>5.6.3.3711715c</string>
	<key>BIOVersion</key>
	<string>5.6.3</string>
	<key>BIOBuildNumber</key>
	<string>1</string>
</dict>
</plist>
